<h2>List of Products</h2>

<table class="table">
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Quantity</th>
      <th>Number of Votes</th>
      <th>Average Rating</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <%= for product <- @products do %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.availability %></td>
          <td><%= product.score_count %></td>
          <td><%= product.avg_score %></td>
          <td><span><%= link "Rate", to: rating_path(@conn, :new, %{"product_id": product.id}), class: "btn btn-danger btn-xs" %></span></td>
        </tr>
    <% end %>
  </tbody>
</table>
