
<%= form_for @conn, rating_path(@conn, :create), fn product -> %>
  
  <div class="form-group">
    <%= hidden_input product, :product_id, value: @product_id %>
  </div>

  <div class="form-group">
    <%= label product, :email, class: "control-label" %>
    <%= text_input product, :email, id: "email", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label product, :score, class: "control-label" %>
    <%= text_input product, :score, id: "score", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= submit "Submit", id: "submit_button", class: "btn btn-primary" %>
  </div>

<% end %>